<h1>Favorites</h1>

<div class="fav-list">

  {{#each favorites}}

  <div class="fav-item">
    <a href="{{ this.nasa_url }}">
      <img class="fav-image" src="{{ this.url }}">
    </a>

    <span class="fav-title">{{ this.title }}</span>
    <span class="fav-date">{{ this.date }}</span>


  <!-- hidden input "index" will pass the index number of the array object.
       Will be used to remove the array object by the index number -->
    <form action="favorites/delete" method="POST">
        <input type='hidden' name='index' value={{@index}}>
        <button type=submit class="btn btn-warning" name="delete" onclick="return confirm('Are you sure?')">Delete</button>
    </form>

  </div>

  {{else}}  <!-- if there are no favorites -->

  <p>No favorites saved yet.</p>

  {{/each}}

    {{#if favorites}}
        <form action="favorites/deleteAll" method="POST">
            <button type=submit class="btn btn-danger" name="deleteAll" onclick="return confirm('This will delete all favorites-- Are you sure?')">Delete All</button>
        </form>
    {{/if}}


</div>
