<h1>Favorites</h1>

<div class="fav-list">

  {{#each favorites}}

  <div class="fav-item">
    <a href="{{ this.nasa_url }}">
      <img class="fav-image" src="{{ this.url }}">
    </a>

    <span class="fav-title">{{ this.title }}</span>
    <span class="fav-date">{{ this.date }}</span>

    <form action="favorites/delete" method="POST">
        <input type='hidden' name='index' value={{@index}}>
        <button type=submit class="btn btn-warning" name="delete" onclick="return confirm('Are you sure?')">Delete</button>
    </form>

  </div>

  {{else}}

  <p>No favorites saved yet.</p>

  {{/each}}

  <form action="favorites/deleteAll" method="POST">
    <button type=submit class="btn btn-danger" name="deleteAll" onclick="return confirm('Are you sure?')">Delete All</button>
  </form>

</div>
